@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*ESTRELLAS*/
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 20px;
}
input[type='radio'] {
  display: none;
}
label {
  color: grey;
  font-size: 20px;
}
.stars {
  direction: rtl;
  unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
  color: orange;
}
input[type='radio']:checked ~ label {
  color: orange;
}

/*GENERAL*/
#app {
  max-width: 1100px;
  width: 500px;
}
body {
  justify-content: center;
  display: flex;
}

.stars-block {
  display: flex;
  justify-content: center;
}
h3 {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.formulario form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
